@import url('bootstrap.min.css');
@import url('bootstrap-responsive.min.css');

.background {
	background-color: #00005e;
	min-height: 740px;
}

.foreground {
	background-color: #f7f7f7;
	min-height: 720px;
}

header h1, header h2, header h3, header h4 {
	font-family: asap, calibri, sans-serif;
}

header, page-header {
	background-color: #f7f7f7;
}

.ftnref {
    font-size: .83em;
    line-height: 0.5em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

.footnote-block {
	margin: 2.5em 0;
}

body.thin_header {
	padding-top: 69px;
}

div#navbar-collapse-1 {
	margin-top: 9px;
}