@import url('bootstrap.min.css');

/* Basic color scheme */
body {
	background-color: #00005e;
}

.foreground {
	background-color: #f7f7f7;
	min-height: 720px;
}

header h1, header h2, header h3, header h4 {
	font-family: asap, calibri, sans-serif;
}

header, .page-header {
	background-color: #f7f7f7;
}

footer {
    color: #d0d0d0
    bottom: 0;

}
footer a {
    color: #6294f4;
}

footer a:hover {
    color: #297fdb;
}


/* Header spacing */

body.thin_header {
	padding-top: 69px;
}

div#navbar-collapse-1 {
	margin-top: 9px;
}

body.full_header {
	padding-top: 105px;
}

div#navbar-collapse-2 {
	margin-top: -15px;
}

button#menu-button {
	margin-top: -3.5em;
}

img.banner {
  width: 200%;
  display: block;
  margin-left: -50%;
  margin-right: auto;
}

/* Footnotes */
.ftnref {
    font-size: .83em;
    line-height: 0.5em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

.footnote-block {
	margin: 2.5em 0;
	font-size: 0.8em;
}

/* Images. Add padding, don't overflow column, maintain aspect ratio. */
article figure img {
    max-width: 100%;
    height: auto;
}

article figure {
    margin: 2em 0;
}

article figure figcaption {
    margin: 1em;
    font-style: italic;
}
