<!DOCTYPE html>
<html lang="en">
<head>
  {% include sitewide_head.html %}
</head>
<body>
<div class="container-fluid background">
<header>
    {% include full_header.html %}
  </header>

<article class="col-md-8 col-md-offset-2 foreground">

  <section id="content">
    {{content}}
  </section>

  <aside>
    {% include instructor_info.html %}
  </aside>

  <footer>
    {% include credits_and_license.html %}
  </footer>

</article>
</div>
<!--jQuery & Twitter Bootstrap JavaScript-->
<script type="javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="javascript" src="/{{site.course.base_path}}assets/js/bootstrap.min.js"></script>

</body>
</html>
