<!DOCTYPE html>
<html lang="en">
<head>
  {% include sitewide_head.html %}
</head>
<body>
  <header class="col-xs-12">
    <div class="row clearfix">
      <div class="col-xs-12 col-md-5 col-md-offset-1">
        <h1>Composing Digital Media<br/>
        <small>{{ site.course.instructor.name }}</small>
        </h1>
      </div>
      <div class="col-xs-12 col-md-5">
        <h2 class="text-right"><small>
            {{ site.course.university }}, 
            {{ site.course.term }}<br/>
            {{ site.course.time }} |
            {{ site.course.room }}</small></h2>
      </div>
    </div> <!-- end of page-header row -->
  </header>

<div class="container-fluid background">
  <div id="foreground" class="foreground col-xs-12 col-md-10 col-md-offset-1">

    <article class="col-md-8 col-md-offset-2 foreground">

      <section id="content">
        {{content}}
      </section> 

    </article>
  </div> <!-- end of foreground -->
</div> <!-- end of background -->
<footer>
  {% include credits_and_license.html %}
</footer>

<!--jQuery & Twitter Bootstrap JavaScript-->
<script type="javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="javascript" src="/{{site.course.base_path}}assets/js/bootstrap.min.js"></script>

</body>
</html>
